{% if data.id is defined and data is not null %}
    <div id="sidebar-contact-list" data-id="{{ data.id }}" class="show-icon grid-row m-bottom-40">
        <h2 class="m-bottom-0 action">
            {{ data.fullName }}
            <span class="blue-icon">
                <span class="fa-pencil"></span>
            </span>
        </h2>

        <span class="block action">
            {% if data.title is defined and data.position is defined %}
                {{ [data.title, data.position]|join(', ') }}
            {% elseif data.title is defined %}
                {{ data.title }}
            {% elseif data.position is defined %}
                {{ data.position }}
            {% endif %}
        </span>
    </div>

    {% if data.address is defined %}
        {% include 'SuluContactExtensionBundle:Widgets:Partials/address.partial.html.twig' with {'address': data.address} only %}
    {% endif %}

    {% if data.phone or data.fax  is not empty %}
        {% include 'SuluContactExtensionBundle:Widgets:Partials/phoneFax.partial.html.twig' with {'phone': data.phone, 'fax': data.fax} only %}
    {% endif %}

    {% if data.email or data.url is not empty %}
        {% include 'SuluContactExtensionBundle:Widgets:Partials/emailUrl.partial.html.twig' with {'email': data.email, 'url': data.url} only %}
    {% endif %}
{% endif %}
